.set-name-wrapper {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    width:400px;
    max-width:90%;
    background-color: white;
    box-sizing: border-box;
    display:flex;
    gap:30px;
    flex-direction: column;
    align-items:center;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0, 0.4);
}

.set-name-photo {
    width:100px;
    height:100px;
    border-radius:50%;
    margin-top:35px;
    margin-bottom: 20px;
}
.set-name-form {
    display:flex;
    flex-direction: column;
    gap:30px;
    width:100%;
    padding:0 20px 0 20px;
    box-sizing: border-box;
    margin-bottom:25px;
}
.set-name-title {
    background-color:darkturquoise;
    color:white;
    width: 100%;
    white-space: nowrap;
    padding:10px;
    margin:0;
    font-size: 30px;
    font-weight: 900;
    box-sizing: border-box;
}
.set-name-input {
    //height:40px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    border:0;
    outline:none;
    //flex-grow: 1;
    //flex-shrink: 1;
    border-bottom:1px solid black;
}
.btn-set {
    display:flex;
    gap:10px;
}
.set-name-btn {
    border:0;
    padding:15px;
    box-sizing: border-box;
    font-family: inherit;
    color:white;
    font-size: 20px;
    font-weight: 800;
    background-color:darkturquoise;
    cursor:pointer;
}
.set-name-descriprion {
    padding-left: 20px;
    padding-right: 20px;
    font-size:13px;
    color: red;
    height:40px;
}
