.dropdown {
    position: absolute;
    top:40px;
    right:10px;
    background-color: white;
    padding:15px;
    list-style: none;
    text-align: right;
    display:flex;
    flex-direction: column;
    gap:15px;

    & li {
        cursor:pointer;
        font-weight: 800;
        &:hover {
            color:darkturquoise;
        }
    }
}