.message-box {
    display:flex;
    gap:10px;
    align-items:flex-start;
    max-width:90%;
    word-wrap:break-word;
}
.message-box__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @media screen and (min-width:750px) {
        width: 50px;
        height: 50px;
    }
}
.message-box__content {
    display: flex;
    align-items: center;
}
.message-box__auth {
    padding: 0;
    margin: 0 0 7px 0;
    font-size: 12px;
    font-weight: 800;
    color:#ddd;
}
.message-box__text {
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin:0;
    
    &.WHISPER {
        font-size: 36px;
        font-weight: 100;
        color:#999;
    }
    &.NORMAL {
        font-size: 36px;
        font-weight: 400;
    }
    &.ALOUD {
        font-size: 36px;
        font-weight: 900;
    }
    &.SCREAM {
        font-size: 50px;
        font-weight: 900;
        text-shadow: 2px 1px #ff0033;
        color:#ff9900;
    }
    &.CRY {
        font-size: 50px;
        font-weight: 800;
        color:red;
        
    }

}